.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.add-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width:50%;
  border-right: 1px solid rgb(173, 173, 173);
  height: 92vh;
  padding: 50px;
}

input{
  padding: 3px 5px;
  width: 200px;
}

button{
  border: none;
  padding: 5px 0;
  width: 200px;
  cursor: pointer;
}

.list-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
}

h1{
  margin-bottom: 50px;
  font-size: 200%;
}

.users{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(173, 173, 173);
  min-width: 400px;
  min-height: 400px;
}